* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    background: #222;
    width: 60%;
    height: 100vh;
    margin: 5rem;
    margin-left: 20rem;
}

.container {
    background: #fff;
    display: flex;
    padding: 7rem;
    min-height: 60vh;
    width: fit-content;
}

.sedan {
    padding: 2rem;
    background: orange;
}

.suv {
    padding: 2rem;
    background: rgb(47, 102, 116);
}

.luxury {
    padding: 2rem;
    background: rgb(1, 31, 16);
}

P {
    color: white;
    font-size: small;
    margin-top: 1rem;

}

h1 {
    color: #fff;
    margin-top: 2rem;
}

button {
    margin-top: 4rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 2rem;
}

.btn-1 {
    color: orange;
}

.btn-2 {
    color: rgb(47, 102, 116);
}

.btn-3 {
    color: rgb(1, 31, 16);
}